#container {
    position: relative;
    top: 54px;
    left: 37px;
    outline:2px solid rgba(0, 202, 91, 0.75);
    font-size: 1;
	height:1150px;
	width:2300px;
    margin:auto;
    padding: 0;
    border: none;
}

.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgba(0, 202, 91, 0.75);
    display: inline-block;
    vertical-align: top;
}

.node-wall {
    background-color: black;
}

.node-start {
    background-color: rgba(56, 255, 146, 0.75);
}

.node-finish {
    background-color: rgb(174, 0, 255);
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#tutorial {
	z-index: 2;
	position: absolute;
	height: 60%;
	width: 40%;
	float: right;
	background-color: #e6e6e6;
	border-radius: 5px;
	border: 2px solid #424242;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#tutorial-text {
	font-size: 24px;
	padding: 20px;
}

#tutorial-img {
	height: 45%;
	width: auto;
	float: right;
}

#tutorial-btn-next {
	border: 0px;
	border-radius: 4px;
	background-color: rgba(164, 84, 255, 0.75);
	float: right;

}

#tutorial-btn-back {
	border: 0px;
	border-radius: 4px;
	background-color: rgba(164, 84, 255, 0.75);
	float: left;
}
  
@keyframes visitedAnimation {
    0% {
		transform: scale(0.3);
		background-color: rgb(226, 62, 255);
		border-radius: 100%;
    }
  
    50% {
      background-color: rgba(164, 84, 255, 0.75);
    }
  
    75% {
		transform: scale(1.2);
		background-color: rgba(77, 133, 255, 0.75);
    }
  
    100% {
		transform: scale(1);
		background-color: rgba(56, 255, 146, 0.75);
    }
}
  
.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
@keyframes shortestPath {
    0% {
		transform: scale(0.6);
		background-color: rgba(164, 84, 255, 0.75);
    }
  
    50% {
		transform: scale(1.2);
		background-color: rgba(164, 84, 255, 0.75);
    }
  
    100% {
		transform: scale(1);
		background-color: rgba(164, 84, 255, 0.75);
    }
}

@media only screen and (max-height: 1080px) {

	#container {

		height: 800px;
		width: 1800px;
	}
}