p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

#container {
    position: relative;
    top: 55px;
    outline:2px solid #000;
    font-size: 1;
    margin:auto;
    height:800px;
    width:1800px;
    padding: 0;
    border: none;
}

.node {
    width: 40px;
    height: 40px;
    outline: 1px solid #000000;
    display: inline-block;
    vertical-align: top;
}

.node-wall {
    background-color: black;
}

.node-start {
    background-color: rgb(104, 104, 255);
}

.node-finish {
    background-color: rgb(174, 0, 255);
}